body {
	background-color: #1e1e1e;
	color: #cccccc;
	overflow: hidden;
	margin: 0;
	padding: 10px;
}
#terminal {
	font-family: monospace, 'Courier New';
	font-size: 20px;
	height: calc(100vh - 60px);
	overflow-y: auto;
	white-space: pre-wrap;
}
#input-line {
	height: 40px;
	display: flex;
	align-items: center;
}
#prompt {
	font-family: monospace, 'Courier New';
	font-size: 20px;
	line-height: 1;
	color: #4ec9b0;
	margin-right: 5px;
}
#command-input {
	font-family: monospace, 'Courier New';
	font-size: 20px;
	line-height: 1;
	background-color: transparent;
	border: none;
	color: #cccccc;
	outline: none;
	flex-grow: 1;
}
